<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!--<security:http auto-config="true" use-expressions="false">
        <security:intercept-url pattern="/**" access="ROLE_USER"></security:intercept-url>
    </security:http>
    &lt;!&ndash;认证管理&ndash;&gt;
    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                &lt;!&ndash;配置账号密码的角色信息&ndash;&gt;
                <security:user name="jiang" password="{noop}123" authorities="ROLE_USER"></security:user>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
    授权
    &ndash;&gt;-->

    <!--由于使用的是注解开发，进行组件扫描-->
    <context:component-scan base-package="com.lj.security"></context:component-scan>
</beans>